[tool.poetry]
name = "gateau-api"
version = "0.15.9-alpha.0"
description = ""
authors = ["Kevin Duff <kevinkelduff@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.71.0"
fastapi-camelcase = "^1.0.5"
uvicorn = "^0.16.0"
bidict = "^0.21.4"
Pyrebase4 = "^4.5.0"
firebase-admin = "^5.2.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.12b0"
isort = "^5.10.1"
flake8 = "^4.0.1"
mypy = "^0.931"
pytest-cov = "^3.0.0"
poethepoet = "^0.11.0"
requests = "^2.27.1"
freezegun = "^1.1.0"
types-freezegun = "^1.1.6"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.poe.tasks]
autoformat.sequence = [
    {cmd = "black src tests"},
    {cmd = "isort src tests"},
]

lint.sequence = [
    {cmd = "black --check -v src tests"},
    {cmd = "isort --check -v src tests"},
    {cmd = "flake8 src tests"},
    {cmd = "mypy --pretty src tests"},
]

test.sequence = ["unit", "integration"]

[tool.poe.tasks.unit]
sequence = [
    {cmd = "pytest -vv --cov-report xml --cov-report term --cov=gateau_api tests/unit"},
]

[tool.poe.tasks.integration]
sequence = [
    {shell = 'firebase emulators:exec --only auth,database --project demo-gateau-test "pytest -vv --cov-append --cov-report xml --cov-report term --cov=gateau_api tests/integration"'},
]

[tool.poe.tasks.integration.env]
FIREBASE_DATABASE_URL = "http://127.0.0.1:9000"
FIREBASE_AUTH_EMULATOR_HOST = "http://127.0.0.1:9099"
GCLOUD_PROJECT = "demo-gateau-test"
FIREBASE_ADMIN_CREDENTIALS = "eyJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsInByb2plY3RfaWQiOiAiZGVtby1nYXRlYXUtdGVz\ndCIsInByaXZhdGVfa2V5X2lkIjogImE5OGdqYTA5dDN1MDl0Z2phMG0zdDlhbTB0eTlxM2l0bTBh\nOXQwYTkiLCJwcml2YXRlX2tleSI6ICItLS0tLUJFR0lOIFBSSVZBVEUgS0VZLS0tLS1cbk1JSUV2\nUUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRQ1QzTy9xQzA2VVV1\nNTRcblNHTTNoWnk2YzBpcFhJeEN4anFTM1JHRjVxNytVRk13ampDelhIclRmWjZLN3Z4aUVZWm81\nNi9PalhwZDE5SzNcbjdTd3NGcmxnSFVwWEJSZXoyRi9kc2d5OHB2dDB1YXpMNWVVcUdZRTc5dXFO\nNlJoWDBKaU1wb1k2cXNmbE5QZWVcblpCSk94N3MrK1lueVF2Uy9tWVpNSHRzZkd2WThsaUszbFQz\nZk50elp0R3NGMHVZM0psQmdreHFRN3ZkbDZvaExcbjNIS1RiZjduaVJWOGRxUVpHeUR4T2ZrQkVk\naWY2Nk1rUGN5TGZRM0YyczhDdEtydkdkd1BEaXRqVzljeGxIOGtcbnR2OWd4QUNERnRBV25yeThp\nekNwZ1FOTklTSERJL1NaOFJmODBHMHFsM0JzUHpGNjZjWDVCU1Zwd21OUDBrU0Vcbis0RGdnZnc3\nQWdNQkFBRUNnZ0VBS0grVS9vZUdTRDNHcnc4MGpacDg2TngyaEZ5aTFnOHhMOVI0M2pIbXNDVVVc\nbkEvS09DREpHT2ZMb0g2bUJXdUx0NjRHNXQxc3NydE5VRmFoU051a3FjTmJVNjZ5clowaldTUVJo\nVkxKdm9QTFNcbkR5NnlhNnQ4cUEzakJHZFprWVBDcEpOZnBHWHVSaXNSdjBJdGVZSmZHTXFFSytT\nRzRJdU9Ldjh3aVA1N2Z2QTlcbmtjZXNGc3p2OTRBTExCL1RqRWtyNHdSRTBBaVU2NVcrWEZ2Z3Nn\nZUk4YnI3RmFuTkNGNFYxNjEwcjNoZlJiamtcbmEzWDVKc1VzelhRV1RueFl2NXRHOFNMeGpUQWpG\nN2RzREU5NndEWHBaNDFlNlpaYjFrNjYxdEMrODN5a3V4bHpcbkQ5d2FQMXl1N3hlWVNGRDY5M2Jr\nS2ZsOUNYVlJuTm41VVQ5QlM0aDJvUUtCZ1FERHVDdGdLZGVlYUlwWHlveGxcblRCWkRTYmIrM1k0\nRzNjVWtWakZ2aGN3SHZ0Vm1tZGVnRExzVHFFV2FwbkUwV0RSR0JWejRiZkZkaTFaNVhURU9cbmNr\nWXZzSTZFYUJXM0JvMWtvRGZOWE54VDJoSGhtMmZJVkpPb0VYdm5YTG14N2EySWJQNHh5ZDNDSGgw\nQ2p4OVpcbkFNT0NxbVR1cVFQUjFWQjBFbWJQcUVzZjh3S0JnUURCWjNOQWtKY2pyanZBRGRuNXhY\neWNHclZSaFVPM3ZTSXlcblU3VUpoNG9pWWdITVFXU0lTQjNKMUhJQ205Rks0cllwNm1PWjFMaFZn\nNnJmbTM0ejVGYkNvK1g4US9UcUxNS21cbmJoV0FBTjg4cDhnY3lrT2duMkZlVzFQV2V3anZUMUFy\naGJLcGtMaHlkZ0lnRFd6dFE3cHkzMDJKcjY2akJLYzBcbjFXRHhUUkdNbVFLQmdBZkNOMFg2b3Fl\nTzhWMEZsSWMzZXZKejY2TXkyVHlBY2g0OHBIME5Tc2RMMDEzYjMyWmlcbjJzK3VyZ094Y1c5bng3\ncTIzN2FoZFI0R05nbGRubUk2T1hvT2Y3ZlVBSGhlOUIvM0VmODhIU2ZkenpPb1czYmZcbmszTG9M\nb2MvYjhVVDdQc3BodkltVkhvcmcyN2tpWk9YcWloMTVNWnBRTk9DcDB2U3B1eTRlVEh0QW9HQU4v\nWUtcbkNDMk9QZm5GT2k0SDIxakVWSnI1eWd2SWExcmprVEpkV05PS0thYTRKSFRyZE8rQkJ3eGNy\nTnFQTlo3aDNNRUFcbmJ0dDVOdTB4UFNCTjVRLzE5cjNiNXlGMnRXZWNMdkg5Y0p0UC9Nb0RnaWtZ\nWmxxWG51aklHbkJoUm5WcG1oNUdcbmN2LzREczZNa04reG0vbVQ4bmNnaFcxN0Y1cGFFMVNHaDJ1\nb1gwa0NnWUVBdWY1ZllMeVR3NDh1blhPMWh5RnVcbmZCQi8rUVpwZnFJcVp4bXdlSnhEMHpYMzVk\nR08wRjJ6czFIME9iN2ZSUDB6NGRxclh6eVJPQ3pOcFBxNVZKRzhcbnc2TE9mYVBVNzk1YXhRTERW\nZmEwSHhwK3AxYXFuMDRIYmF0U2VQYkRzV3YydFAyMVpKWlJMY3huWU1sYUpQU3VcbktpRWxLT1ZB\nbU1MbFJ4aWU0eFdOUjEwPVxuLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLVxuIiwiY2xpZW50X2Vt\nYWlsIjogImZpcmViYXNlLWFkbWluQGRlbW8tZ2F0ZWF1LXRlc3QuaWFtLmdzZXJ2aWNlYWNjb3Vu\ndC5jb20iLCJjbGllbnRfaWQiOiAiNTk4NDY1MTY4NDY1MTY4NDY1MTY1IiwiYXV0aF91cmkiOiAi\naHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL28vb2F1dGgyL2F1dGgiLCJ0b2tlbl91cmkiOiAi\naHR0cHM6Ly9vYXV0aDIuZ29vZ2xlYXBpcy5jb20vdG9rZW4iLCJhdXRoX3Byb3ZpZGVyX3g1MDlf\nY2VydF91cmwiOiAiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3YxL2NlcnRzIiwi\nY2xpZW50X3g1MDlfY2VydF91cmwiOiAiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vcm9ib3Qv\ndjEvbWV0YWRhdGEveDUwOS9maXJlYmFzZS1hZG1pbiU0MGRlbW8tZ2F0ZWF1LXRlc3QuaWFtLmdz\nZXJ2aWNlYWNjb3VudC5jb20ifQ=="

[tool.poe.tasks.local-server]
sequence = [
    {shell = 'firebase emulators:exec --only auth,database --ui --project demo-gateau-local "uvicorn gateau_api.api:app --reload --port 8011"'},
]

[tool.poe.tasks.local-server.env]
FIREBASE_DATABASE_URL = "http://127.0.0.1:9000"
FIREBASE_AUTH_EMULATOR_HOST = "http://127.0.0.1:9099"
GCLOUD_PROJECT = "demo-gateau-local"
FIREBASE_ADMIN_CREDENTIALS = "eyJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsInByb2plY3RfaWQiOiAiZGVtby1nYXRlYXUtdGVz\ndCIsInByaXZhdGVfa2V5X2lkIjogImE5OGdqYTA5dDN1MDl0Z2phMG0zdDlhbTB0eTlxM2l0bTBh\nOXQwYTkiLCJwcml2YXRlX2tleSI6ICItLS0tLUJFR0lOIFBSSVZBVEUgS0VZLS0tLS1cbk1JSUV2\nUUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRQ1QzTy9xQzA2VVV1\nNTRcblNHTTNoWnk2YzBpcFhJeEN4anFTM1JHRjVxNytVRk13ampDelhIclRmWjZLN3Z4aUVZWm81\nNi9PalhwZDE5SzNcbjdTd3NGcmxnSFVwWEJSZXoyRi9kc2d5OHB2dDB1YXpMNWVVcUdZRTc5dXFO\nNlJoWDBKaU1wb1k2cXNmbE5QZWVcblpCSk94N3MrK1lueVF2Uy9tWVpNSHRzZkd2WThsaUszbFQz\nZk50elp0R3NGMHVZM0psQmdreHFRN3ZkbDZvaExcbjNIS1RiZjduaVJWOGRxUVpHeUR4T2ZrQkVk\naWY2Nk1rUGN5TGZRM0YyczhDdEtydkdkd1BEaXRqVzljeGxIOGtcbnR2OWd4QUNERnRBV25yeThp\nekNwZ1FOTklTSERJL1NaOFJmODBHMHFsM0JzUHpGNjZjWDVCU1Zwd21OUDBrU0Vcbis0RGdnZnc3\nQWdNQkFBRUNnZ0VBS0grVS9vZUdTRDNHcnc4MGpacDg2TngyaEZ5aTFnOHhMOVI0M2pIbXNDVVVc\nbkEvS09DREpHT2ZMb0g2bUJXdUx0NjRHNXQxc3NydE5VRmFoU051a3FjTmJVNjZ5clowaldTUVJo\nVkxKdm9QTFNcbkR5NnlhNnQ4cUEzakJHZFprWVBDcEpOZnBHWHVSaXNSdjBJdGVZSmZHTXFFSytT\nRzRJdU9Ldjh3aVA1N2Z2QTlcbmtjZXNGc3p2OTRBTExCL1RqRWtyNHdSRTBBaVU2NVcrWEZ2Z3Nn\nZUk4YnI3RmFuTkNGNFYxNjEwcjNoZlJiamtcbmEzWDVKc1VzelhRV1RueFl2NXRHOFNMeGpUQWpG\nN2RzREU5NndEWHBaNDFlNlpaYjFrNjYxdEMrODN5a3V4bHpcbkQ5d2FQMXl1N3hlWVNGRDY5M2Jr\nS2ZsOUNYVlJuTm41VVQ5QlM0aDJvUUtCZ1FERHVDdGdLZGVlYUlwWHlveGxcblRCWkRTYmIrM1k0\nRzNjVWtWakZ2aGN3SHZ0Vm1tZGVnRExzVHFFV2FwbkUwV0RSR0JWejRiZkZkaTFaNVhURU9cbmNr\nWXZzSTZFYUJXM0JvMWtvRGZOWE54VDJoSGhtMmZJVkpPb0VYdm5YTG14N2EySWJQNHh5ZDNDSGgw\nQ2p4OVpcbkFNT0NxbVR1cVFQUjFWQjBFbWJQcUVzZjh3S0JnUURCWjNOQWtKY2pyanZBRGRuNXhY\neWNHclZSaFVPM3ZTSXlcblU3VUpoNG9pWWdITVFXU0lTQjNKMUhJQ205Rks0cllwNm1PWjFMaFZn\nNnJmbTM0ejVGYkNvK1g4US9UcUxNS21cbmJoV0FBTjg4cDhnY3lrT2duMkZlVzFQV2V3anZUMUFy\naGJLcGtMaHlkZ0lnRFd6dFE3cHkzMDJKcjY2akJLYzBcbjFXRHhUUkdNbVFLQmdBZkNOMFg2b3Fl\nTzhWMEZsSWMzZXZKejY2TXkyVHlBY2g0OHBIME5Tc2RMMDEzYjMyWmlcbjJzK3VyZ094Y1c5bng3\ncTIzN2FoZFI0R05nbGRubUk2T1hvT2Y3ZlVBSGhlOUIvM0VmODhIU2ZkenpPb1czYmZcbmszTG9M\nb2MvYjhVVDdQc3BodkltVkhvcmcyN2tpWk9YcWloMTVNWnBRTk9DcDB2U3B1eTRlVEh0QW9HQU4v\nWUtcbkNDMk9QZm5GT2k0SDIxakVWSnI1eWd2SWExcmprVEpkV05PS0thYTRKSFRyZE8rQkJ3eGNy\nTnFQTlo3aDNNRUFcbmJ0dDVOdTB4UFNCTjVRLzE5cjNiNXlGMnRXZWNMdkg5Y0p0UC9Nb0RnaWtZ\nWmxxWG51aklHbkJoUm5WcG1oNUdcbmN2LzREczZNa04reG0vbVQ4bmNnaFcxN0Y1cGFFMVNHaDJ1\nb1gwa0NnWUVBdWY1ZllMeVR3NDh1blhPMWh5RnVcbmZCQi8rUVpwZnFJcVp4bXdlSnhEMHpYMzVk\nR08wRjJ6czFIME9iN2ZSUDB6NGRxclh6eVJPQ3pOcFBxNVZKRzhcbnc2TE9mYVBVNzk1YXhRTERW\nZmEwSHhwK3AxYXFuMDRIYmF0U2VQYkRzV3YydFAyMVpKWlJMY3huWU1sYUpQU3VcbktpRWxLT1ZB\nbU1MbFJ4aWU0eFdOUjEwPVxuLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLVxuIiwiY2xpZW50X2Vt\nYWlsIjogImZpcmViYXNlLWFkbWluQGRlbW8tZ2F0ZWF1LXRlc3QuaWFtLmdzZXJ2aWNlYWNjb3Vu\ndC5jb20iLCJjbGllbnRfaWQiOiAiNTk4NDY1MTY4NDY1MTY4NDY1MTY1IiwiYXV0aF91cmkiOiAi\naHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL28vb2F1dGgyL2F1dGgiLCJ0b2tlbl91cmkiOiAi\naHR0cHM6Ly9vYXV0aDIuZ29vZ2xlYXBpcy5jb20vdG9rZW4iLCJhdXRoX3Byb3ZpZGVyX3g1MDlf\nY2VydF91cmwiOiAiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3YxL2NlcnRzIiwi\nY2xpZW50X3g1MDlfY2VydF91cmwiOiAiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vcm9ib3Qv\ndjEvbWV0YWRhdGEveDUwOS9maXJlYmFzZS1hZG1pbiU0MGRlbW8tZ2F0ZWF1LXRlc3QuaWFtLmdz\nZXJ2aWNlYWNjb3VudC5jb20ifQ=="


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
